Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Drawing;
Type=Application
Comment=Create and edit drawings, flow charts, and logos by using Draw.
Class=libreoffice-draw
InitialPreference=5
GenericName=Drawing Program
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-flat-xml;application/vnd.oasis.opendocument.graphics-template;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;application/vnd.stardivision.draw;
Version=1.0
Name=LibreOffice Draw
Exec=libreoffice --draw %U
Icon=/home/axxx/.config/awesome//blind/arrow/Icon//oodraw2.png
Terminal=false
