[submodule "radical"]
	path = radical
	url = https://github.com/Elv13/radical.git
[submodule "drawer"]
	path = drawer
	url = https://github.com/AxelTB/drawer.git
[submodule "wirefu"]
	path = wirefu
	url = https://github.com/AxelTB/wirefu.git
